.userComment-article {
    margin-bottom: 20px;
}

.userComment-container {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
        transform: scale(1.02);
    }

    .userComment-contents {
        font-family: "LINESeedKR-Bd";
        font-size: 18px;
    }

    .userComment-block {
        display: flex;
        align-items: center;
        gap: 20px;

        .userComment-blockDate {
            display: flex;
            align-items: center;
            gap: 10px;
            color: gray;
        }

        .userComment-right {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
                object-fit: cover;
                background-color: white;
                border-radius: 1000px;
                border: 1px solid var(--element-color);
                width: 40px;
                height: 40px;
            }
        }
    }
}