.userComment-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    background-color: var(--board-color);
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
    min-height: 90px;
    box-sizing: border-box;

    &:hover {
        transform: scale(1.02);
    }
}

.userComment-container {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .userComment-contents {
        font-family: "LINESeedKR-Bd";
        font-size: 18px;
        max-width: 60%;
    }

    .userComment-block {
        display: flex;
        align-items: center;
        gap: 20px;

        .userComment-blockDate {
            display: flex;
            align-items: center;
            gap: 10px;
            color: var(--font-color);
            opacity: 0.7;
        }

        .userComment-right {
            display: flex;
            align-items: center;
            gap: 10px;

            p {
                font-family: "LINESeedKR-Bd";
            }

            img {
                object-fit: cover;
                background-color: white;
                border-radius: 1000px;
                border: 1px solid var(--element-color);
                width: 40px;
                height: 40px;
            }
        }
    }
}

.skeleton-userCommentArticle {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100vh;

    .skeleton-userCommentBlock {
        width: 100%;
        height: 90px;
        background-color: var(--element-color);
        border-radius: 10px;
    }
}

@media (max-width: 767px) {
    .userComment-container {
        display: block;

        .userComment-contents {
            font-size: 16px;
            max-width: 100%;
        }

        .userComment-block{
            display: block;
            font-size: 14px;

            .userComment-blockDate {
                justify-content: end;
            }

            .userComment-right {
                justify-content: end;

                img {
                    width: 35px;
                    height: 35px;
                }
            }
        }
    }
}