.progressbar-read {
    appearance: none; // 모바일 대응, 기존 버튼 css제거
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    border: none;
    height: 10px;
}

// 진행 막대 색상 변경
.progressbar-read::-webkit-progress-value {
    background-color: coral;
}