.board-postContainer {
    h2 {
        font-family: "LINESeedKR-Bd";
    }

    input {
        background-color: var(--board-color);
        color: var(--font-color);
        font-size: 16px;
        width: 360px;
        padding: 10px;
        border: none;
        border-radius: 5px;
    }

    .board-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;

        p {
            font-size: 20px;
            font-family: "LINESeedKR-Bd";
            margin-bottom: 0;
        }
    }

    .boardDaily-section {
        position: relative;
        overflow: hidden;
        margin-bottom: 100px;

        .boardDaily-prevBtn,
        .boardDaily-nextBtn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 50px;
            height: 100%;
            border: none;
            background: var(--element-color);
            color: var(--font-color);
            font-size: 20px;
            opacity: 0.9;

            &:hover {
                background-color: var(--element-hover-color);
            }
        }

        .boardDaily-prevBtn {
            left: 0;
        }

        .boardDaily-nextBtn {
            right: 0;
        }

        .boardDaily-article {
            display: flex;
            transition: transform 0.5s;
            gap: 30px;

            .boardDaily-block {
                background-color: var(--board-color);
                flex: 0 0 70%;

                &:hover {
                    transition: 0.3s;
                    transform: scale(1.02);
                }

                header {
                    .board-title {
                        display: flex;
                        justify-content: space-between;

                        .boardDaily-weekComment {
                            color: red;
                            width: 20%;
                            text-align: right;
                        }
                    }
                }

                .board-asideBoardImg {
                    cursor: pointer;
                    margin: 0;

                    img {
                        width: 100%;
                        height: 220px;
                    }
                }

                .board-userBlock {
                    cursor: pointer;
                    display: flex;

                    .board-userProfile {
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .board-postContainer {
        h2 {
            font-size: 1.1rem;
        }

        input {
            width: 100%;
            margin-bottom: 10px;
        }

        .board-top {
            display: block;

            p {
                font-size: 16px;
                margin-top: 0px;
                margin-bottom: 20px;
            }
        }

        .boardDaily-section {
            .boardDaily-prevBtn,
            .boardDaily-nextBtn {
                font-size: 16px;
                width: 40px;
                height: 40px;
            }

            .boardDaily-article {
                grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
                gap: 20px;

                .boardDaily-block {
                    flex: 0 0 90%;

                    header {
                        .board-title {
                            .boardDaily-weekComment {
                                width: 30%;
                            }
                        }
                    }

                    .board-asideBoardImg {
                        img {
                            width: 100%;
                            height: 150px;
                        }
                    }
                }
            }
        }
    }
}