.board-button {
    display: flex;
    justify-content: center;

    button {
        cursor: pointer;
        background-color: black;
        margin-bottom: 20px;
        width: 200px;
        height: 40px;
        border-width: 1px;
        border-radius: 10px;
        font-size: 16px;
        font-weight: bold;
        color: white;

        &:hover {
            background-color: white;
            color: black;
        }
    }
}

.board-flexWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .board-block {
        cursor: pointer;
        box-sizing: border-box;
        border: 1px solid black;
        border-radius: 10px;
        padding: 20px;
        margin: 20px 0px 20px 0;
        height: 310px;
        width: 310px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .board-userBlock {
            display: flex;
            align-items: center;
            
            img {
                width: 40px;
                height: 40px;
                border: 1px solid gray;
                border-radius: 1000px;
                margin-right: 10px;
            }

            .board-nickname {
                font-weight: bold;
                font-size: 18px;
            }
        }
            
        
        .board-title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        
        .board-contents {
            font-size: 16px;
            margin-bottom: 10px;
        }
        
        .board-rgstrDate {
            font-size: 16px;
            color: gray;
        }
    }
}