@mixin buttonCss($width, $height) {
    cursor: pointer;
    background-color: black;
    width: $width;
    height: $height;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-family: "NanumSquareRoundEB";
    color: white;

    &:hover {
        background-color: white;
        color: black;
        box-shadow: lightgray 0 3px 10px;
    }
}

.board-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .board-top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .board-boardList {
            button {
                transition: .2s ease-in;
                margin: 0 10px 0 0;
                @include buttonCss(140px, 40px);
            }
        }
    }

    .board-flexWrap {
        // display: flex;
        // flex-wrap: wrap;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: 10px;
        margin: 20px 0;

        .board-block {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
            box-sizing: border-box;
            box-shadow: lightgray 0 5px 10px;
            border-radius: 10px;
            padding: 20px;
            height: 260px;
            width: 100%;
            background-color: white;
            // transition: transform 0.35s ease-in 0.3s;
            transition: .2s ease-in;

            &:hover {
                transform: scale(1.03);
            }

            .board-userBlock {
                display: flex;
                align-items: center;

                img {
                    background-color: white;
                    width: 40px;
                    height: 40px;
                    box-shadow: lightgray 0 3px 10px;
                    border-radius: 1000px;
                    margin-right: 10px;
                }

                .board-nickname {
                    font-family: "NanumSquareRoundEB";
                    font-size: 18px;
                }
            }

            .board-title {
                font-size: 18px;
                font-family: "NanumSquareRoundEB";
                margin-bottom: 10px;
            }

            .board-contents {
                font-size: 16px;
                margin-bottom: 10px;
            }

            .board-footer {
                display: flex;
                justify-content: space-between;
                font-size: 16px;
                color: black;
            }
        }
    }

    .board-button {
        text-align: center;

        button {
            transition: .2s ease-in;
            margin-top: 20px;
            @include buttonCss(150px, 40px);
        }
    }
}

@media (max-width: 767px) {
    .board-container {
        .board-top {
            display: block;
            margin-bottom: 10px;

            .board-boardList {
                text-align: center;

                button {
                    margin: 20px 10px;
                    width: 100px;
                    height: 30px;
                    font-size: 14px;
                }
            }
        }

        .board-flexWrap {
            margin: 10px 0;

            .board-block {
                height: 220px;
                padding: 10px;

                .board-userBlock {
                    .board-nickname {
                        font-size: 16px;
                    }
                }

                .board-title {
                    font-size: 16px;
                }

                .board-contents {
                    font-size: 14px;
                }

                .board-footer {
                    font-size: 14px;
                }
            }
        }

        .board-button {
            button {
                width: 110px;
                font-size: 14px;
            }
        }
    }
}