@mixin buttonCss($width, $height) {
    cursor: pointer;
    background-color: black;
    width: $width;
    height: $height;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-family: "LINESeedKR-Bd";
    color: white;

    &:hover {
        background-color: white;
        color: black;
        box-shadow: lightgray 0 3px 10px;
    }
}

.board-postContainer {
    input {
        font-size: 16px;
        width: 360px;
        padding: 10px;
        border: 1px solid lightgray;
        border-radius: 5px;
    }

    .board-top {
        display: flex;
        justify-content: space-between;

        p {
            font-size: 20px;
            font-family: "LINESeedKR-Bd";
            margin-bottom: 0;
        }
    }

    section {
        margin-bottom: 30px;
    }

    .boardDaily-section{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 50px;
        margin-bottom: 100px;

        .boardDaily-block {
            cursor: pointer;
    
            &:hover {
                transform: scale(1.02);
            }

            .board-title{
                display: flex;
                justify-content: space-between;
            }
    
            aside {
                margin: 0;

                img {
                    width: 100%;
                    height: 200px;
                }
            }

            .board-userBlock {
                display: flex;
                justify-content: space-between;

                .board-userProfile {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    .board-block {
        cursor: pointer;
        display: flex;
        margin: 20px 0;

        &:hover {
            transform: scale(1.02);
        }
    }

    aside {
        margin-left: 50px;

        img {
            object-fit: cover;
            width: 280px;
            height: 180px;
            border-radius: 10px;
        }
    }

    .board-contentsContainer{
        width: 100%;
        height: 180px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .board-title {
            font-size: 20px;
            font-family: "LINESeedKR-Bd";
            margin: 10px 0;
        }

        .board-contents {
            font-size: 16px;
            margin-bottom: 10px;
        }

        footer {
            .board-footerTop {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;

                .board-tagContainer {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 10px;

                    .board-tagBox {
                        display: flex;
                        align-items: center;
                        padding: 0 10px;
                        height: 30px;
                        background-color: black;
                        color: white;
                        border-radius: 5px;
                        font-size: 14px;
                    }
                }

                .board-userBlock {
                    display: flex;
                    align-items: center;
                    margin-left: 20px;
    
                    .board-userProfileImg {
                        object-fit: cover;
                        background-color: white;
                        width: 30px;
                        height: 30px;
                        box-shadow: lightgray 0 3px 10px;
                        border-radius: 1000px;
                        margin-right: 10px;
                    }
    
                    .board-nickname {
                        font-family: "LINESeedKR-Bd";
                        font-size: 18px;
                    }
                }
            }

            .board-footer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 16px;
                color: gray;

                .board-postInfo {
                    display: flex;
                    gap: 10px;

                    img {
                        width: 25px;
                        height: 25px;
                    }

                    .board-views {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                    }

                    .board-comment {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                    }
                }
            }
        }
    }

    .board-button {
        text-align: center;

        button {
            @include buttonCss(120px, 40px);
        }
    }
}

@media (max-width: 767px) {
    .board-postContainer {
        h2 {
            font-size: 1.2rem;
        }

        input {
            width: 100%;
            margin-bottom: 10px;
        }

        .board-top {
            display: block;

            p {
                font-size: 16px;
                margin-top: 0px;
                margin-bottom: 20px;
            }
        }

        .boardDaily-flexWrap {
            grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
            gap: 10px;

            .board-block {
                height: 220px;
            }
        }

        .board-post {
            grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
            gap: 10px;
        }

        .board-block {
            height: 220px;
            padding: 10px;

            aside {
                img {
                    width: 100px;
                    height: 100px;
                }
            }

            .board-userBlock {
                font-size: 14px;

                .board-userProfileImg {
                    width: 35px;
                    height: 35px;
                }

                .board-nickname {
                    font-size: 14px;
                }
            }

            .board-title {
                font-size: 14px;
            }

            .board-contents {
                font-size: 14px;
            }

            .board-footer {
                display: block;
                text-align: center;
                font-size: 14px;

                .board-postInfo {
                    justify-content: center;
                    margin-top: 5px;

                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }

        .board-button {
            button {
                width: 110px;
                font-size: 14px;
            }
        }
    }
}