.userBoard-userContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    .userBoard-userProfile {
        display: flex;
        align-items: center;
        width: 100%;
        
        img {
            object-fit: cover;
            width: 130px;
            height: 130px;
            border-radius: 1000px;
            margin-right: 20px;
            box-shadow: lightgray 0 3px 10px;
        }

        .userBoard-introduce {
            width: 70%;
        }
    }

    .userBoard-updateProfileContainer {
        display: flex;
        align-items: center;
        
        .userBoard-updateProfileBtn {
            cursor: pointer;
            border: none;
            border-radius: 10px;
            width: 150px;
            height: 40px;
            font-size: 16px;
            background-color: black;
            color: white;
        }
    }
}

.userBoard-userWriteContainer {
    display: flex;
    gap: 10px;
    margin-bottom: 50px;

    button {
        cursor: pointer;
        font-size: 18px;
        width: 50%;
        height: 100px;
        border: 2px solid lightgray;
        border-radius: 10px;

        span {
            font-family: "LINESeedKR-Bd";
        }
        
        &.userBoard-bgWhite {
            background-color: white;
            color: black;
        }
    
        &.userBoard-bgBlack {
            background-color: black;
            color: white;
        }
    }
}

@media (max-width: 767px) {
    .userBoard-userContainer {
        display: block;
        
        .userBoard-userProfile {
            display: flex;
            font-size: 14px;

            img {
                width: 120px;
                height: 120px;
            }
        }

        .userBoard-updateProfileContainer {
            justify-content: center;
            margin-top: 20px;
            
            .userBoard-updateProfileBtn {
                font-size: 12px;
                width: 110px;
                height: 35px;
            }
        }
    }

    .userBoard-userWriteContainer {
        button {
            font-size: 14px;
            height: 80px;
        }
    }
}