.userBoard-userContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    .userBoard-userProfile {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 20px;

        .userBoard-userProfileImg {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                object-fit: cover;
                width: 150px;
                height: 150px;
                border-radius: 1000px;
                background-color: white;
                border: 1px solid var(--element-color);
            }

            .userBoard-imgSelect {
                cursor: pointer;
                margin-top: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--element-color);
                color: var(--font-color);
                width: 100px;
                height: 30px;
                font-family: "LINESeedKR-Bd";
                font-size: 14px;
                border-radius: 10px;
            }

            input[type="file"] {
                display: none;
            }
        }

        .userBoard-introduce {
            width: 65%;

            input {
                background-color: var(--element-color);
                color: var(--font-color);
                border: none;
                border-radius: 10px;
                padding: 10px;
                font-size: 22px;
                width: 200px;
            }

            textarea {
                background-color: var(--element-color);
                color: var(--font-color);
            }
        }
    }

    .userBoard-updateProfileContainer {
        display: flex;
        align-items: center;

        .userBoard-updateProfileBtn {
            cursor: pointer;
            border: none;
            border-radius: 10px;
            width: 150px;
            height: 40px;
            font-size: 16px;
            background-color: var(--element-color);
            color: var(--font-color);
        }
    }
}

.userBoard-userWriteContainer {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;

    button {
        cursor: pointer;
        font-size: 18px;
        width: 50%;
        height: 100px;
        border: 2px solid var(--element-color);
        border-radius: 10px;
        background-color: var(--board-color);
        color: var(--font-color);

        span {
            font-family: "LINESeedKR-Bd";
        }

        &.userBoard-bgColor {
            background-color: coral;
            color: white;
        }

        &:hover {
            background-color: coral;
            color: white;
        }
    }
}

.skeleton-userProfile {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    gap: 20px;

    .skeleton-userProfileImg {
        width: 150px;
        height: 150px;
        border-radius: 1000px;
        background-color: var(--element-color);
        border: 1px solid var(--element-color);
    }

    .skeleton-introduce {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        height: 100px;
        background-color: var(--element-color);
        border: none;
        border-radius: 10px;
    }
}

.skeleton-userWriteContainer {
    display: flex;
    gap: 10px;
    margin-bottom: 50px;

    .skeleton-btn {
        width: 50%;
        height: 100px;
        border: 2px solid var(--element-color);
        background-color: var(--element-color);
        border-radius: 10px;
    }
}

@media (max-width: 768px) {
    .userBoard-userContainer {
        display: block;

        .userBoard-userProfile {
            display: block;
            font-size: 14px;

            img {
                width: 120px;
                height: 120px;
            }

            .userBoard-introduce {
                width: 100%;
                margin-top: 20px;
            }
        }

        .userBoard-updateProfileContainer {
            justify-content: center;
            margin-top: 20px;

            .userBoard-updateProfileBtn {
                font-size: 12px;
                width: 110px;
                height: 35px;
            }
        }
    }

    .userBoard-userWriteContainer {
        button {
            font-size: 14px;
            height: 80px;
        }
    }

    .skeleton-userProfile {
        display: block;
        font-size: 14px;

        .skeleton-userProfileImg {
            margin: 0 auto;
        }

        .skeleton-introduce {
            width: 100%;
            margin-top: 20px;
        }
    }
}