@mixin imgCss($width, $height) {
    object-fit: cover;
    background-color: white;
    width: $width;
    height: $height;
    border-radius: 1000px;
    border: 1px solid var(--element-color);
}

@mixin buttonCss($width, $height, $font-size) {
    cursor: pointer;
    background-color: var(--element-color);
    width: $width;
    height: $height;
    border: none;
    border-radius: 10px;
    font-size: $font-size;
    font-family: "LINESeedKR-Bd";
    color: white;
    transition: .2s ease-in;

    &:hover {
        background-color: coral;
    }
}

.boardDetail-backbutton {
    cursor: pointer;
    display: inline-block;
    background-color: var(--back-color);
    transition: 0.3s ease;
    color: var(--font-color);
    font-size: 24px;
    margin-bottom: 20px;
    font-family: "LINESeedKR-Bd";
}

.boardDetail-section {
    background-color: var(--board-color);
    transition: 0.3s ease;

    .boardDetail-topContainer {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        height: 300px;
    }

    .boardDetail-profileContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 20px 0;
        width: 40%;
        height: 100%;
        box-sizing: border-box;
    }

    .boardDetail-boardThumbnail {
        width: 60%;
        height: 100%;
    }

    .boardDetail-titleContainer {
        .board-Type {
            color: coral;
            font-size: 18px;
        }

        .boardDetail-title {
            font-family: "LINESeedKR-Bd";
            font-size: 20px;
        }
    }

    .board-views {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 5px;
        width: 15%;
        font-size: 18px;
        color: var(--font-color);
        opacity: 0.7;

        img {
            width: 25px;
            height: 25px;
        }
    }

    .boardDetail-date {
        display: flex;
        gap: 10px;
        color: var(--font-color);
        opacity: 0.7;
    }

    .boardDetail-writerContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .boardDetail-userProfile {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
                cursor: pointer;
                @include imgCss(40px, 40px);
            }

            .boardDetail-nickname {
                cursor: pointer;
                font-family: "LINESeedKR-Bd";
                font-size: 18px;
            }
        }
    }

    .boardDetail-tagContainer {
        display: flex;
        align-items: center;
        gap: 10px;
        white-space: nowrap;
        overflow: auto;

        .boardDetail-tagBox {
            display: flex;
            align-items: center;
            padding: 0 10px;
            height: 30px;
            background-color: #2A629A;
            color: white;
            border-radius: 5px;
            font-size: 14px;
        }
    }

    .boardDetail-container {
        padding: 10px 20px 20px;

        .boardDetail-contentsContainer {
            margin: 30px 0 50px 0;
            font-size: 16px;

            .boardDetail-contents {
                min-height: 100px;

                a {
                    color: coral;
                }

                .ql-syntax {
                    background-color: #2E2E2E;
                    border-radius: 5px;
                    padding: 10px;
                    overflow: auto;
                    color: #F1F3F5;
                    font-family: "LINESeedKR-Rg";
                }

                blockquote {
                    border-left: 4px solid #ccc;
                    background-color: #2E2E2E;
                    border-left-color: coral;
                    margin: 0px 0px;
                    color: white;
                    padding: 5px 20px;
                }

                code {
                    font-size: 85%;
                    padding: 2px 4px;
                    border-radius: 3px;
                    background-color: coral;
                    color: white;
                }

                img {
                    max-width: 100%;
                }

                ul {
                    overflow-x: auto;
                }
            }
        }

        .boardDetail-deleteBtn {
            text-align: right;
            margin-top: 20px;

            button {
                margin-left: 10px;
                @include buttonCss(90px, 40px, 14px);
            }
        }
    }
}

.skeleton-boardDetailBackBtn {
    background-color: var(--element-color);
    width: 20%;
    height: 40px;
    margin-bottom: 20px;
}

.skeleton-boardDetailSection {
    background-color: var(--element-color);
    width: 100%;
    height: 50vh;
}

.skeleton-boardCommentContainer {
    background-color: var(--element-color);
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .boardDetail-backbutton {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .boardDetail-section {
        .boardDetail-topContainer {
            display: block;
            height: auto;
        }

        .boardDetail-boardThumbnail {
            width: 100%;
            height: 180px;
            object-fit: cover;
        }

        .boardDetail-profileContainer {
            width: 100%;
            height: 220px;
            padding: 10px 10px 0;
        }

        .boardDetail-titleContainer {
            .board-Type {
                display: flex;
                flex-direction: column;
                justify-content: end;
                font-size: 14px;
                width: 70px;
                height: 30px;
            }

            .boardDetail-title {
                font-size: 16px;
            }
        }

        .board-views {
            width: 25%;
            font-size: 14px;

            img {
                width: 20px;
                height: 20px;
            }
        }

        .boardDetail-date {
            font-size: 12px;
        }

        .boardDetail-writerContainer {
            font-size: 14px;

            .boardDetail-userProfile {
                img {
                    width: 30px;
                    height: 30px;
                }

                .boardDetail-nickname {
                    font-size: 14px;
                }
            }
        }

        .boardDetail-tagContainer {
            .boardDetail-tagBox {
                font-size: 12px;
                height: 25px;
            }
        }

        .boardDetail-container {
            .boardDetail-contentsContainer {
                margin: 20px 0 30px 0;
                font-size: 14px;
            }

            .boardDetail-deleteBtn {
                button {
                    margin-left: 10px;
                    @include buttonCss(70px, 30px, 12px);
                }
            }
        }

        .boardDetail-container {
            padding: 10px 10px;
        }
    }


    .skeleton-boardDetailBackBtn {
        width: 40%;
        margin-bottom: 10px;
    }
}