@mixin imgCss($width, $height) {
    object-fit: cover;
    background-color: white;
    width: $width;
    height: $height;
    border-radius: 1000px;
    border: 1px solid var(--element-color);
}

@mixin buttonCss($width, $height, $font-size) {
    cursor: pointer;
    background-color: var(--element-color);
    width: $width;
    height: $height;
    border: none;
    border-radius: 10px;
    font-size: $font-size;
    font-family: "LINESeedKR-Bd";
    color: var(--font-color);
    transition: .2s ease-in;

    &:hover {
        background-color: var(--element-hover-color);
    }
}

.boardDetail-backbutton {
    cursor: pointer;
    border: none;
    background-color: var(--back-color);
    color: var(--font-color);
    font-size: 24px;
    margin-bottom: 20px;
    font-family: "LINESeedKR-Bd";
}

.boardDetail-section {
    background-color: var(--board-color);

    .boarDetail-boardThumbnail {
        img {
            object-fit: cover;
            width: 100%;
            height: 300px;
        }
    }

    .boardDetail-container {
        padding: 10px 20px 20px;

        .boardDetail-titleContainer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;

            .board-Type {
                background-color: coral;
                width: 80px;
                height: 40px;
                border: none;
                border-radius: 4px;
                font-size: 16px;
                font-family: "LINESeedKR-Bd";
                color: var(--font-color);
                margin-right: 10px;
                justify-content: center;
                align-items: center;
            }

            .boardDetail-title {
                font-family: "LINESeedKR-Bd";
                font-size: 20px;
                width: 85%;
            }

            .board-views {
                display: flex;
                align-items: center;
                justify-content: end;
                gap: 5px;
                width: 15%;
                font-size: 18px;
                color: var(--font-color);
                opacity: 0.7;

                img {
                    width: 25px;
                    height: 25px;
                }
            }
        }

        .boardDetail-writerContainer {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .boardDetail-date {
                display: flex;
                gap: 10px;
                color: var(--font-color);
                opacity: 0.7;
            }

            .boardDetail-userProfile {
                display: flex;
                align-items: center;
                gap: 10px;

                img {
                    cursor: pointer;
                    @include imgCss(40px, 40px);
                }

                .boardDetail-nickname {
                    cursor: pointer;
                    font-family: "LINESeedKR-Bd";
                    font-size: 18px;
                }
            }
        }

        .boardDetail-tagContainer {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 10px;

            .boardDetail-tagBox {
                display: flex;
                align-items: center;
                padding: 0 10px;
                height: 30px;
                background-color: black;
                color: white;
                border-radius: 5px;
                font-size: 14px;
            }
        }

        .boardDetail-contentsContainer {
            margin: 30px 0 50px 0;

            .boardDetail-contents {
                min-height: 100px;

                .ql-syntax {
                    background-color: var(--element-hover-color);
                    border-radius: 5px;
                    padding: 10px;
                    overflow: auto;
                }

                img {
                    max-width: 100%;
                }
            }
        }

        .boardDetail-deleteBtn {
            text-align: right;
            margin-top: 20px;

            button {
                margin-left: 10px;
                @include buttonCss(90px, 40px, 16px);
            }
        }
    }
}

.skeleton-boardDetailBackBtn {
    background-color: var(--element-color);
    width: 20%;
    height: 40px;
    margin-bottom: 20px;
}

.skeleton-boardDetailSection {
    background-color: var(--element-color);
    width: 100%;
    height: 50vh;
}

.skeleton-boardCommentContainer {
    background-color: var(--element-color);
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .boardDetail-backbutton {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .boardDetail-section {
        .boarDetail-boardThumbnail {
            img {
                height: 150px;
            }
        }

        .boardDetail-container {
            .boardDetail-titleContainer {
                margin-bottom: 0;

                .boardDetail-title {
                    font-size: 16px;
                    width: 75%;
                }

                .board-views {
                    width: 25%;
                    font-size: 14px;

                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            .boardDetail-writerContainer {
                font-size: 14px;

                .boardDetail-date {
                    display: block;
                }

                .boardDetail-userProfile {
                    img {
                        width: 35px;
                        height: 35px;
                    }

                    .boardDetail-nickname {
                        font-size: 14px;
                    }
                }
            }

            .boardDetail-tagContainer {
                .boardDetail-tagBox {
                    font-size: 12px;
                    height: 25px;
                }
            }

            .boardDetail-contentsContainer {
                margin: 10px 0 30px 0;
                font-size: 14px;
            }

            .boardDetail-deleteBtn {
                button {
                    margin-left: 10px;
                    @include buttonCss(70px, 30px, 12px);
                }
            }
        }
    }

    .skeleton-boardDetailBackBtn {
        width: 40%;
        margin-bottom: 10px;
    }
}