@mixin imgCss($width, $height) {
    object-fit: cover;
    background-color: white;
    width: $width;
    height: $height;
    box-shadow: lightgray 0 3px 10px;
    border-radius: 1000px;
    margin-right: 20px;
}

@mixin buttonCss($width, $height, $font-size) {
    cursor: pointer;
    background-color: black;
    width: $width;
    height: $height;
    border: none;
    border-radius: 10px;
    font-size: $font-size;
    font-family: "NanumSquareRoundEB";
    color: white;
    transition: .2s ease-in;

    &:hover {
        background-color: white;
        color: black;
        box-shadow: lightgray 0 3px 10px;
    }
}

.boardDetail-backbutton {
    cursor: pointer;
    border: none;
    background-color: white;
    font-size: 24px;
    margin-bottom: 20px;
    font-family: "NanumSquareRoundEB";
}

.boardDetail-container {
    background-color: white;
    padding: 20px;
    box-shadow: lightgray 0 3px 10px;
    border-radius: 15px;

    .boardDetail-titleContainer {
        display: flex;
        justify-content: space-between;

        .boardDetail-titleBlock {
            display: flex;

            .boardDetail-title {
                font-family: "NanumSquareRoundEB";
                font-size: 20px;
                margin-left: 20px;
            }
        }

        .board-click {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            width: 90px;

            img {
                width: 25px;
                height: 25px;
            }
        }
    }

    .boardDetail-writerContainer {
        display: flex;
        align-items: center;
        font-size: 18px;

        img {
            cursor: pointer;
            @include imgCss(50px, 50px);
        }

        .boardDetail-nickname {
            cursor: pointer;
            font-family: "NanumSquareRoundEB";
        }

        .boardDetail-rgstrDate {
            margin-left: 10px;
            color: black;
        }
    }

    .boardDetail-contentsContainer {
        margin: 50px 0 100px 0;
        transition: .2s ease-in;
    }

    .boardDetail-deleteBtn {
        text-align: right;
        margin-top: 20px;

        button {
            margin-left: 10px;
            @include buttonCss(90px, 40px, 16px);
        }
    }
}

@media (max-width: 767px) {
    .boardDetail-backbutton {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .boardDetail-container {
        .boardDetail-titleContainer {
            .boardDetail-titleBlock {
                .boardDetail-title {
                    font-size: 16px;
                    margin-left: 10px;
                }
            }

            .board-click {
                width: auto;
                justify-content: center;

                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        .boardDetail-writerContainer {
            font-size: 16px;

            img {
                @include imgCss(40px, 40px);
            }

            .boardDetail-rgstrDate {
                font-size: 14px;
            }
        }

        .boardDetail-contentsContainer {
            margin: 20px 0 50px 0;

            .boardDetail-contents {
                font-size: 14px;
            }
        }

        .boardDetail-deleteBtn {
            button {
                margin-left: 10px;
                @include buttonCss(70px, 30px, 12px);
            }
        }
    }
}