@mixin btn-block {
    cursor: pointer;
    background-color: white;
    margin-bottom: 20px;
    width: 300px;
    height: 40px;
    border-width: 1px;
    border-radius: 10px;
    font-size: 16px;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    input {
        @include btn-block;
        box-sizing: border-box;
        padding: 0 10px 0 10px;
    }

    button {
        @include btn-block;
        font-weight: bold;

        &:hover {
            background-color: black;
            color: white;
        }
    }
}