.boardWrite-backbutton {
    cursor: pointer;
    border: none;
    background-color: var(--back-color);
    color: var(--font-color);
    font-size: 24px;
    margin-bottom: 20px;
    font-family: "LINESeedKR-Bd";
}

.boardWrite-CategoryBlock {
    margin-top: 10px;
}

.boardWrite-container {
    .boardWrite-titleContainer {
        box-sizing: border-box;
        background-color: var(--board-color);
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        padding: 20px;
        width: 100%;
        height: 100%;

        .boardWrite-titleBlock {
            display: flex;
            align-items: center;
            border-bottom: 1px solid lightgray;
            margin-bottom: 40px;

            input {
                font-family: "LINESeedKR-Bd";
                font-size: 20px;
                padding: 20px;
                width: 100%;
                border: none;
                color: var(--font-color);
                background-color: var(--board-color);
            }
        }

        .ql-container {
            font-family: "LINESeedKR-Rg";
            font-size: 16px;
            min-height: 400px;

            .ql-blank::before {
                color: var(--font-color);
                opacity: 0.7;
            }
        }

        .ql-toolbar {
            background-color: white;
        }

        .q1-syntax {
            background-color: var(--element-color);
            border-radius: 5px;
            padding: 10px;
            overflow: auto;
        }
    }

    aside {
        margin-top: 40px;
        border-radius: 10px;
        padding: 20px;
        min-width: 300px;
        height: 580px;
        background-color: var(--board-color);
        
        p {
            font-family: "LINESeedKR-Bd";
            font-size: 20px;
        }

        .boardWrite-button {
            display: flex;
            justify-content: center;

            button {
                cursor: pointer;
                width: 150px;
                height: 40px;
                margin-top: 30px;
                border: none;
                border-radius: 10px;
                font-size: 16px;
                font-family: "LINESeedKR-Bd";
                background-color: coral;
                color: var(--font-color);

                &:hover {
                    opacity: 0.8;
                }
            }
        }

        .boardWrite-thumbnail {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                border: 1px solid lightgray;
                object-fit: cover;
                width: 100%;
                height: 200px;
                border-radius: 10px;
            }

            .boardWrite-imgSelect {
                cursor: pointer;
                margin-top: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: coral;
                color: var(--font-color);
                width: 100px;
                height: 30px;
                font-family: "LINESeedKR-Bd";
                font-size: 14px;
                border-radius: 10px;

                &:hover {
                    opacity: 0.8;
                }
            }

            input[type="file"] {
                display: none;
            }
        }

        .boardWrite-tagInput {
            border: 1px solid lightgray;
            border-radius: 5px;
            padding: 10px;
            width: 70%;
            font-size: 14px;
        }

        .boardWrite-tagContainer {
            display: flex;
            flex-wrap: wrap;
            min-height: 70px;
            border: 1px solid lightgray;
            border-radius: 5px;
            padding: 10px;
            gap: 10px;

            .boardWrite-tagBox {
                display: flex;
                align-items: center;
                padding: 0 10px;
                height: 30px;
                background-color: black;
                color: white;
                border-radius: 5px;
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 1024px) {
    .boardWrite-container {
        aside {
            margin-left: 0;
            margin-top: 30px;

            .boardWrite-tagInput {
                width: 20%;
            }
        }
    }
}

@media (max-width: 768px) {
    .boardWrite-backbutton {
        font-size: 18px;
        margin-bottom: 10px;
        margin-left: 0;
    }

    .boardWrite-container {
        .boardWrite-titleContainer {
            .ql-container {
                font-size: 14px;
                min-height: 300px;
            }

            .boardWrite-titleBlock {
                input {
                    font-size: 16px;
                    padding: 10px;
                }
            }
        }

        aside {
            margin-top: 20px;
            min-width: 0;

            .boardWrite-tagInput {
                width: 50%;
            }
        }
    }

    .boardWrite-button {
        button {
            width: 110px;
            font-size: 14px;
        }
    }
}