.boardWrite-backbutton {
    cursor: pointer;
    border: none;
    background-color: white;
    color: black;
    font-size: 24px;
    margin-bottom: 20px;
    font-family: "NanumSquareRoundEB";
}

.boardWrite-container {
    display: flex;
    flex-direction: column;
    box-shadow: lightgray 0 3px 10px;
    border-radius: 10px;
    padding: 20px;

    .boardWrite-titleBlock {
        display: flex;
        align-items: center;
        border-bottom: 1px solid lightgray;
        margin-bottom: 40px;

        input {
            font-family: "NanumSquareRoundEB";
            font-size: 20px;
            padding: 20px;
            width: 100%;
            border: none;
        }
    }

    .ql-container {
        font-family: "NanumSquareRoundR";
        font-size: 16px;
    }

    .boardWrite-button {
        display: flex;
        justify-content: center;

        button {
            cursor: pointer;
            margin-top: 30px;
            background-color: black;
            width: 200px;
            height: 40px;
            border: none;
            border-radius: 10px;
            font-size: 16px;
            font-family: "NanumSquareRoundEB";
            color: white;
            transition: .2s ease-in;

            &:hover {
                background-color: white;
                color: black;
                box-shadow: lightgray 0 3px 10px;
            }
        }
    }
}

@media (max-width: 767px) {
    .boardWrite-backbutton {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .boardWrite-container {
        .boardWrite-titleBlock {
            input {
                font-size: 16px;
                padding: 10px;
            }
        }

        .ql-container {
            font-size: 14px;
        }
    
        .boardWrite-button {
            button {
                width: 110px;
                font-size: 14px;
            }
        }
    }
}