@mixin btn-block {
    background-color: var(--element-color);
    margin-top: 20px;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    color: var(--font-color);
}

.container {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .signUp-img {
        border: 3px solid var(--element-color);
        border-radius: 1000px;
        width: 200px;
        height: 200px;
    }

    img {
        border-radius: 1000px;
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    .signUp-imgSelect {
        cursor: pointer;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;        
        background-color: var(--element-color);
        width: 100px;
        height: 30px;
        color: var(--font-color);
        font-family: "LINESeedKR-Bd";
        font-size: 14px;
        border-radius: 10px;
    }

    input[type="file"] {
        display: none;
    }

    input {
        @include btn-block;
        padding: 0 10px 0 10px;
        border: 1px solid var(--element-color);
    }

    button {
        @include btn-block;
        cursor: pointer;
        font-family: "LINESeedKR-Bd";
        border: 1px solid var(--element-color);

        &:hover {
            background-color: var(--element-hover-color);
        }
    }
}