@mixin btn-block {
    cursor: pointer;
    background-color: white;
    margin-bottom: 20px;
    width: 300px;
    height: 40px;
    border-width: 2px;
    border-radius: 10px;
    font-size: 16px;
}

.container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
        width: 300px;
        height: 300px;
    }

    .signup-profileImg-label {
        margin: 5px 0 20px 0;
        font-weight: bold;
        font-size: 13px;
        color: #0095f6;
        display: inline-block;
        cursor: pointer;
    }

    input[type="file"] {
        display: none;
    }

    input {
        @include btn-block;
        box-sizing: border-box;
        padding: 0 10px 0 10px;
    }

    button {
        @include btn-block;
        font-weight: bold;

        &:hover {
            background-color: black;
            color: white;
        }
    }
}