.header-container {
    height: 70px;
    background-color: var(--board-color);
    color: var(--font-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 300px;
    font-size: 20px;
    font-family: "LINESeedKR-Bd";

    .header-home {
        cursor: pointer;
    }

    .header-box {
        position: relative;
        display: flex;
        align-items: center;
        gap: 20px;

        .themeColorBtn {
            cursor: pointer;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            border-radius: 1000px;
            background-color: var(--board-color);

            .header-themeImg {
                width: 35px;
                height: 35px;
            }

            &:hover {
                background-color: var(--element-hover-color);
            }
        }

        .header-block {
            display: flex;
            align-items: center;
            cursor: pointer;

            .header-signIn {
                margin-right: 20px;
                cursor: pointer;
            }

            .header-signUp {
                cursor: pointer;
            }

            &:hover {
                ul {
                    display: block;
                }
            }

            img {
                object-fit: cover;
                background-color: var(--font-color);
                width: 40px;
                height: 40px;
                border-radius: 1000px;
                border: 1px solid var(--element-color);
                margin-right: 20px;
            }

            ul {
                display: none;
                position: absolute;
                list-style: none;
                background-color: var(--element-color);
                top: 22px;
                right: 0px;
                width: 130px;
                padding: 27px 20px 0 20px;
                font-size: 18px;

                li {
                    margin-bottom: 15px;

                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
}

@media (max-width: 1199px) {
    .header-container {
        padding: 0 50px;
    }
}

@media (max-width: 767px) {
    .header-container {
        height: 60px;
        padding: 0 30px;
        font-size: 16px;

        .header-box {
            .header-block {
                img {
                    width: 35px;
                    height: 35px;
                }
            }
        }
    }
}