.header-container {
    height: 70px;
    background-color: var(--board-color);
    color: var(--font-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
    font-size: 20px;
    font-family: "LINESeedKR-Bd";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    .header-home {
        cursor: pointer;
        font-size: 22px;
    }

    .themeColorBtn {
        cursor: pointer;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 1000px;
        background-color: var(--board-color);

        .header-themeImg {
            width: 35px;
            height: 35px;
        }

        &:hover {
            background-color: var(--element-hover-color);
        }
    }

    .header-box {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        gap: 20px;

        &:hover {
            ul {
                display: block;
                z-index: 1;
            }
        }

        .header-block {
            display: flex;
            align-items: center;
            gap: 10px;

            .header-nickname {
                cursor: pointer;
            }

            .header-signIn {
                cursor: pointer;
            }

            .header-signUp {
                cursor: pointer;
            }

            img {
                cursor: pointer;
                object-fit: cover;
                background-color: white;
                width: 40px;
                height: 40px;
                border-radius: 1000px;
                border: 1px solid var(--element-color);
            }
        }

        ul {
            display: none;
            position: absolute;
            list-style: none;
            background-color: var(--element-color);
            top: 45px;
            right: 0px;
            width: 100px;
            padding: 20px 20px 10px;
            font-size: 18px;

            li {
                margin-bottom: 15px;

                span {
                    &:hover {
                        cursor: pointer;
                        color: coral;
                    }
                }
            }
        }
    }
}

@media (max-width: 1199px) {
    .header-container {
        padding: 0 50px;
    }
}

@media (max-width: 767px) {
    .header-container {
        height: 60px;
        padding: 0 30px;
        font-size: 16px;

        .header-home {
            font-size: 18px;
        }

        .themeColorBtn {
            .header-themeImg {
                width: 30px;
                height: 30px;
            }
        }

        .header-box {
            .header-block {
                img {
                    width: 35px;
                    height: 35px;
                }
            }
        }
    }
}