.header-container {
    height: 70px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 400px;
    font-size: 20px;
    font-family: "LINESeedKR-Bd";

    .header-home {
        cursor: pointer;
    }

    .header-box {
        position: relative;

        .header-block {
            display: flex;
            align-items: center;
            cursor: pointer;

            .header-signIn {
                margin-right: 20px;
                cursor: pointer;
            }

            .header-signUp {
                cursor: pointer;
            }

            &:hover {
                ul {
                    display: block;
                }
            }

            img {
                object-fit: cover;
                background-color: white;
                width: 40px;
                height: 40px;
                border-radius: 1000px;
                margin-right: 20px;
            }

            ul {
                display: none;
                position: absolute;
                list-style: none;
                background-color: black;
                top: 22px;
                right: 0px;
                width: 130px;
                padding: 27px 20px 0 20px;
                font-size: 18px;

                li {
                    margin-bottom: 15px;
                }
            }
        }
    }
}

@media (max-width: 1199px) {
    .header-container {
        padding: 0 50px;
    }
}

@media (max-width: 767px) {
    .header-container {
        height: 60px;
        padding: 0 30px;
        font-size: 16px;
    }
}