.board-Type {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.board-TypeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    font-family: "LINESeedKR-Bd";
    color: var(--font-color);
    padding: 10px 20px;
    position: relative;

    &:hover {
        color: coral;
    }

    &.isActive {
        color: coral;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 2px;
        background-color: coral;
        transition: all 0.3s ease;
    }

    &.isActive::after {
        width: 100%;
        left: 0;
    }
}

@media (max-width: 767px) {
    .board-TypeBtn {
        font-size: 14px;
        width: 70px;
        height: 35px;
        padding: 0;
    }
}