@mixin buttonCss($backColor, $width, $height, $font-size) {
    cursor: pointer;
    background-color: $backColor;
    width: $width;
    height: $height;
    border: none;
    border-radius: 10px;
    font-size: $font-size;
    font-family: "LINESeedKR-Bd";
    color: white;

    &:hover {
        opacity: 0.8;
    }
}

.label {
    text-align: left;
    margin-left: 10px;
}

textarea {
    font-family: "LINESeedKR-Rg";
    box-sizing: border-box;
    width: 100%;
    overflow-y: hidden;
    min-height: 100px;
    border: 2px solid var(--element-hover-color);
    border-radius: 15px;
    background-color: var(--back-color);
    color: var(--font-color);
    padding: 20px;
    margin-top: 10px;
    font-size: 16px;
}

.textArea-lock {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
    
    img {
        cursor: pointer;
        width: 35px;
        height: 35px;
    }
}

.boardComment-commentAddBtn {
    display: flex;
    justify-content: space-between;
    text-align: end;
    margin-bottom: 30px;

    button {
        margin-top: 10px;
        @include buttonCss(coral, 190px, 40px, 16px);
    }
}

.boardComment-commentContainer {
    font-size: 16px;

    .boardComment-commentBlock {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .boardComment-commentLabel {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
                cursor: pointer;
                object-fit: cover;
                background-color: white;
                width: 40px;
                height: 40px;
                border-radius: 1000px;
                border: 1px solid var(--element-color);
            }

            .boardComment-commentNickname {
                cursor: pointer;
                font-family: "LINESeedKR-Bd";

                .coral {
                    color: coral;
                }
            }
        }

        .boardComment-date {
            color: var(--font-color);
            opacity: 0.7;
            display: flex;
            margin-left: auto;
            gap: 10px;
        }
    }

    .boardComment-subCommentBlock {
        padding-left: 30px
    }

    .boardComment-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;

        .boardComment-subCommentText {
            cursor: pointer;
            color: coral;

            &:hover {
                color: lightcoral;
                text-decoration-line: underline;
            }
        }

        .boardcomment-btn {
            button {
                margin-left: 10px;
                @include buttonCss(var(--element-hover-color), 90px, 40px, 14px);
            }
        }
    }

    .boardComment-subCommentTextArea {
        display: flex;
        flex-direction: column;
        padding-left: 30px;

        .boardComment-subCommentAddBtn {
            display: flex;
            justify-content: space-between;
        }

        button {
            margin-top: 10px;
            @include buttonCss(coral, 190px, 40px, 16px);
        }
    }
}

.skeleton-boardCommentLabel {
    width: 30%;
    height: 40px;
    background-color: var(--element-color);
    margin-bottom: 10px;
}

.skeleton-boardCommentText {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    background-color: var(--element-color);
    margin-bottom: 20px;
}

.skeleton-boardCommentBtnBlock {
    display: flex;
    justify-content: end;

    .skeleton-boardCommentBtn {
        width: 190px;
        height: 40px;
        border-radius: 10px;
        background-color: var(--element-color);
        margin-bottom: 50px;
    }
}

.skeleton-boardComment {
    width: 100%;
    height: 105px;
    background-color: var(--element-color);
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    textarea {
        padding: 10px;
        font-size: 14px;
    }

    .boardComment-commentAddBtn {
        button {
            @include buttonCss(coral, 120px, 30px, 12px);
        }
    }

    .boardComment-commentContainer {
        font-size: 14px;

        .boardComment-commentBlock {
            .boardComment-commentLabel {
                img {
                    width: 35px;
                    height: 35px;
                }
            }
            
            .boardComment-date {
                display: block;
                text-align: right;
            }
        }

        .boardComment-subCommentBlock {
            padding-left: 20px
        }

        .boardComment-footer {
            .boardcomment-btn {
                button {
                    @include buttonCss(var(--element-hover-color), 70px, 30px, 12px);
                }
            }
        }

        .boardComment-subCommentTextArea {
            padding-left: 20px;
        }

        .boardComment-subCommentTextArea {
            button {
                margin-top: 10px;
                @include buttonCss(coral, 120px, 30px, 12px);
            }
        }
    }

    .skeleton-boardCommentLabel {
        width: 50%;
    }

    .skeleton-boardCommentBtnBlock {
        .skeleton-boardCommentBtn {
            width: 120px;
            height: 30px;
        }
    }
}