@mixin buttonCss($width, $height) {
    cursor: pointer;
    background-color: var(--element-color);
    width: $width;
    height: $height;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-family: "LINESeedKR-Bd";
    color: var(--font-color);

    &:hover {
        background-color: var(--element-hover-color);
    }
}

.board-article {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.board-block {
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--board-color);
    // height: 250px;
    flex: 0 0 100%;

    &:hover {
        transition: 0.3s;
        transform: scale(1.02);
    }
}

.board-asideBoardImg {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 50px;

    img {
        object-fit: cover;
        width: 400px;
        height: 100%;
    }
}

.board-contentsContainer {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;

    header {
        cursor: pointer;
        height: 100%;

        .board-title {
            font-size: 20px;
            font-family: "LINESeedKR-Bd";
        }

        .board-contents {
            font-size: 16px;
            width: 75%;
        }
    }

    footer {
        .board-userBlock {
            display: flex;
            align-items: center;
            justify-content: end;

            .board-userProfileImg {
                cursor: pointer;
                object-fit: cover;
                background-color: white;
                width: 35px;
                height: 35px;
                border-radius: 1000px;
                border: 1px solid var(--element-color);
                margin-right: 10px;
            }

            .board-nickname {
                cursor: pointer;
                font-family: "LINESeedKR-Bd";
                font-size: 18px;
            }
        }

        .board-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 16px;
            color: var(--font-color);
            opacity: 0.7;
            margin: 10px 0;

            .board-postInfo {
                display: flex;
                gap: 10px;

                img {
                    width: 25px;
                    height: 25px;
                }

                .board-views {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }

                .board-comment {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }
            }
        }
    }

    .board-tagContainer {
        display: flex;
        gap: 10px;
        // white-space: nowrap;
        // overflow: auto;
        flex-wrap: wrap;

        // &::-webkit-scrollbar {
        //     display: none;
        // }

        .board-tagBox {
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 0 10px;
            height: 30px;
            background-color: #121212;
            color: white;
            border-radius: 5px;
            font-size: 14px;
            margin: 0;
        }
    }
}

.board-button {
    text-align: center;

    button {
        @include buttonCss(120px, 40px);
    }
}

@media (max-width: 1199px) {
    .board-asideBoardImg {
        img {
            width: 300px;
        }
    }

    .board-contentsContainer {
        header {
            .board-contents {
                width: auto;
            }
        }
    }
}

@media (max-width: 767px) {
    .board-block {
        flex-direction: column;
        margin: 0;

        .board-asideBoardImg {
            margin-left: 0;

            img {
                width: 100%;
                height: 150px;
            }
        }
    }

    .board-contentsContainer {
        margin-bottom: 0;

        header {
            .board-title {
                font-size: 16px;
            }

            .board-contents {
                font-size: 14px;
            }
        }

        footer {
            .board-userBlock {
                font-size: 14px;

                .board-nickname {
                    font-size: 14px;
                }
            }

            .board-footer {
                font-size: 14px;

                .board-postInfo {
                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }

        .board-tagContainer {
            .board-tagBox {
                font-size: 12px;
                height: 25px;
            }
        }
    }

    .board-button {
        button {
            width: 100px;
            height: 30px;
            font-size: 14px;
        }
    }
}