body[data-theme='light'] {
    color: #121212;
    background-color: #F1F3F5;

    --back-color: #F1F3F5;
    --font-color: #121212;
    --board-color: #FFFFFF;
    --element-color: #DEE2E6;
    --element-hover-color: #E9ECEF;
}

body[data-theme='dark'] {
    color: #F1F3F5;
    background-color: #121212;

    --back-color: #121212;
    --font-color: #F1F3F5;
    --board-color: #1E1E1E;
    --element-color: #252525;
    --element-hover-color: #2E2E2E;
}

.app-block {
    margin: 100px 200px 50px;
    font-family: "LINESeedKR-Rg";
}

h1 {
    font-size: 1.8rem;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 5px 0;
}

button {
    font-family: "LINESeedKR-Rg";
}

input {
    font-family: "LINESeedKR-Rg";
    box-sizing: border-box;
}

@media (max-width: 1199px) {
    .app-block {
        margin: 100px 50px 50px;
    }
}

@media (max-width: 767px) {
    .app-block {
        margin: 80px 30px 30px;
    }

    h1 {
        font-size: 1.5rem;
    }
}

@font-face {
    font-family: "LINESeedKR-Bd";
    src: url("./fonts/LINESeedKR-Bd.woff2");
}

@font-face {
    font-family: "LINESeedKR-Rg";
    src: url("./fonts/LINESeedKR-Rg.woff2");
}

@font-face {
    font-family: "LINESeedKR-Th";
    src: url("./fonts/LINESeedKR-Th.woff2");
}