.app-block {
    margin: 50px 400px;
    font-family: "NanumSquareR";
}

h1 {
    font-size: 1.8rem;
}

input {
    font-family: "NanumSquareR";
    box-sizing: border-box;
}

@media (max-width: 1199px) {
    .app-block {
        margin: 50px;
    }
}

@media (max-width: 767px) {
    .app-block {
        margin: 30px;
    }
}

@font-face {
    font-family: "NanumSquareB";
    src: url("./fonts/NanumSquareB.woff2");
}

@font-face {
    font-family: "NanumSquareEB";
    src: url("./fonts/NanumSquareEB.woff2");
}

@font-face {
    font-family: "NanumSquareL";
    src: url("./fonts/NanumSquareL.woff2");
}

@font-face {
    font-family: "NanumSquareR";
    src: url("./fonts/NanumSquareR.woff2");
}