.paging-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: none;
        border-radius: 10px;
        width: 40px;
        height: 40px;
        font-size: 16px;
        padding: 10px;
        margin: 0 5px;
        background-color: var(--element-color);
        color: var(--font-color);
    }

    button[disabled] {
        color: gray;
    }

    .paging-currentpageNum {
        display: flex;

        button {
            background-color: var(--font-color);
            color: var(--element-color);
        }
    }
}

@media (max-width: 768px) {
    .paging-container {
        button {
            width: 30px;
            height: 30px;
            font-size: 14px;
        }
    }
}